<head>
	<title>Home</title>
</head>
<style type="text/css">
#center-div {
    width: 500px;
    height: 400px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>

<body>
	<div id="center-div"> 
		<h2>Options - </h2>
		<ul>
			<li><a href="/create/">Create a new account</a></li>
			<li><a href="/verify/">Verify a uploaded signature</a></li>
			<li><a href="/testing/">Run Test Cases</a></li>
		</ul>
		<p>Team Name - TechMinds314</p>
		<div>
			<h2>How to Use</h2>
			<p>First create a new account, this account will hold the master signature, all the signatures would be verified using this.</p>
			<p>Once the new account has been created, go to 'Verify Upload' option and upload a new signature, this would be verified with the one stored in the databse</p>
		</div>
	</div>
</body>