<!DOCTYPE html>
<html>
<head>
	<title>Testing Page</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>Main Signature</h3>
			</div>
			<div class="col-lg-4">
				{% load static %}
				<img src="{% static "m1-min.jpg" %}" alt="My image" width="300px" height="100px" />
			</div>
			<div class="col-lg-4">
			</div>
		</div>
		<hr>
		<div class="row">	
			<div class="col-lg-4">
				<h3>Uploaded Signature by Same User</h3>
			</div>
			<div class="col-lg-4">
				<img src="{% static "m2-min.jpg" %}" alt="My image" width="300px" height="100px" />
			</div>
			<div class="col-lg-4">
				<h2>Score = {{sameUser}}</h2>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-4">
				<h3>Uploaded Signature by a Fraud User</h3>
			</div>
			<div class="col-lg-4">
				<img src="{% static "s2-min.jpg" %}" alt="My image" width="300px" height="100px" />
			</div>
			<div class="col-lg-4">
				<h2>Score = {{fraud}}</h2>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-4">
				<h3>Uploaded Signature by a different User</h3>
			</div>
			<div class="col-lg-4">
				<img src="{% static "s3-min.jpg" %}" alt="My image" width="300px" height="100px" />
			</div>
			<div class="col-lg-4">
				<h2>Score = {{differentUser}}</h2>
			</div>
		</div>
</div>
</body>
</html>